main {
    margin: 0 auto;
    font-family: sans-serif;
    max-width: 380px;
}

header {
    overflow: auto;
    text-align: center;
}

h1 {
    margin: 10px auto;
}

#controls {
    margin: 10px auto;
}

#controls * {
    margin: 2px;
    font-size: small;
}

#grid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    justify-content: center;
}

.cell {
    background-color: beige;
    text-align: center;
    line-height: 40px;
    border: 1px solid lightgrey;
}

.cell.selected {
    background-color: burlywood;
}

.cell:hover {
    background-color: burlywood;
}

.cell:nth-child(3n) {
    border-right-width: 2px;
}

.cell:nth-child(9n) {
    border-right-width: 1px;
}

.cell:nth-child(n+19):nth-child(-n+27), .cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid lightgrey;
}

.candidates {
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: repeat(3, 10px);
    justify-content: center;
    line-height: 20px;
}

.candidate {
    font-size: x-small;
    color: lightgrey;
}

#inputs {
    text-align: center;
}

#inputs * {
    margin: 2px;
    font-size: small;
}

#value_inputs {
    display: none;
}

#value_inputs.active {
    display: initial;
}

#candidate_inputs {
    display: none;
}

#candidate_inputs.active {
    display: initial;
}