main {
    margin: 0 auto;
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(9, 30px);
    margin: 10px;
}

.cell {
    background-color: beige;
    text-align: center;
    line-height: 30px;
    border: 1px solid lightgrey;
}

.cell.selected {
    background-color: burlywood;
}

.cell:hover {
    background-color: burlywood;
}

.cell:nth-child(3n) {
    border-right-width: 2px;
}

.cell:nth-child(9n) {
    border-right-width: 1px;
}

.cell:nth-child(n+19):nth-child(-n+27), .cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid lightgrey;
}